// -------------------------------------------------
//
// Variables
// 
// -------------------------------------------------


$green: #00FF00;
$blue: #0100ab;


// -------------------------------------------------
//
// Chat
// 
// -------------------------------------------------
$darkblue: #00007b;
$gray: #bdbdbd;
$yellow: #ffff00;
