//- Chat Partial

.chat#chat(ng-class="{minimized: chatControl.minimized}", ng-style="chatControl.setTotalHeight()")
    .chat-title-container
        h2.chat-title Party Chat Line
        .exit(ng-click="chatControl.toggle()")

    .chat-container#chat-container(ng-style="chatControl.setChatHeight()")
        .chat-info(ng-repeat="chat in chatControl.chats | reverse")
            small {{chat.created_at | date : 'MMM dd hh:mm:ssa'}}
            p
                strong {{chat.name}}: {{chat.text}}

    form.chat-form
        input.text(type="text", ng-model="newChat.text", placeholder="Your message")
        input(type="submit", ng-click="chatControl.sendChat(newChat.text)", value="submit")

