.party-instructions
    h1 Partying is easy. Here's how

    .teachers

        .teacher
            img(src="images/chat.svg")
            p Chat

        .teacher
            img(src="images/pigeon.svg")
            p Send A Tweet

        .teacher
            img(src="images/camera.svg")
            p Take A Pic

        .teacher
            img(src="images/spatula.svg")
            p Feeling Lucky

        .teacher
            img(src="images/settings.svg")
            p Settings

    button(ng-click="hasBeenInstructed()") Got It
